/// Funcion color aleatorio. Devuelve un color al azar en el formato rgb(71,148,133)
/// @name color_aleat
/// @access public
/// @author Pedro Barco
/// @example scss - color_aleat();
/// rgb(71,148,133)
/// @return {color}

@function color_aleat{
    //Funcion random para cada color
    $rojo: random(255);
    $verde: random(255);
    $azul: random(255);
    //Concatenar cadenas
    $color_aleat: "rgb(" + $rojo + "," + $verde + "," + $azul + ")";
    @return unquote($color_aleat);
}

/* Variables */
//------------
/// Variable $bg_body para el color de fondo del body aleatoria procedente de la funcion color_aleat()
/// @name bg_body
/// @type color
/// @access public
/// @author Pedro Barco
/// @example scss - $bg_body;
/// rgb(71,148,133)
$bg_body:color_aleat();

/// Variable bg_header para el color de fondo del header 
/// @name bg_header
/// @type color
/// @access public
/// @author Pedro Barco
$bg_header:red;

/// Variable bg_footer para el color de fondo del footer 
/// @name bg_footer
/// @type color
/// @access public
/// @author Pedro Barco
$bg_footer:blue;




/// Mixin bg_color-border-margin-padding para definir color de fondo, borde, margin y padding
/// @name bg_color-border-margin-padding
/// @access public
/// @author Pedro Barco
/// @param {color} $bg_color [default value] - Color de fondo
/// @param {number} $border_size [default value] - Tamaño del borde
/// @param {border_style} $border_style [default value] - Estilo del borde
/// @param {color} $border_color [default value] - Color del borde
/// @param {number} $margin [default value] - Margin
/// @param {number} $padding [default value] - Padding
@mixin bg_color-border-margin-padding($bg_color, $border_size, $border_style, $border_color,  $margin, $padding) {
    background-color: $bg_color;
    border: $border_size $border_style $border_color ;
    margin: $margin;
    padding: $padding;
   }

/// Mixin size-width-height para definir tamaño de un elemento
/// @name size-width-height para definir
/// @access public
/// @author Pedro Barco
/// @param {number} $width [default value] - ancho
/// @param {number} $height [default value] - alto
@mixin size-width-height($width, $height) {
       width: $width;
       height: $height;
   }


/* Estilos de elementos */
//----------------------

body{
    background-color: $bg_body;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav section section section section section '
        'footer footer footer footer footer footer ';
    grid-gap: 5px;

}

header{
    grid-area: header; 
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    
    @include bg_color-border-margin-padding($bg_header, 10px, solid, green, 5px, 10px);
    border-radius: 10px;

    div img {
       @include size-width-height(100px,100px);
     border-radius: 10px;
    }
}

nav{
    grid-area: nav; 
    @include bg_color-border-margin-padding($bg_body, 5px, dashed, orange, 0px, 5px);
 
    p{
        // USO DE IF
        /* Parrafo color */
        $modulo_color: matador;
        @if $modulo_color == ocean {
            color: blue;
        } @else if $modulo_color == matador {
            color: red;
        } @else if $modulo_color == monster {
            color: green;
        } @else {
            color: black;
        }

        text-align: center;
        font-size: 30px;
    }

    ul 
    {
        $base-color: rgb(10, 100, 0);
    /* FOR Color fondo li #{$base-color} */
    // Ejemplo de interpolacion de variable
    //----------ss------------

        @for $i from 1 through 6 {
            li:nth-child(3n + #{$i}) {
            background-color: lighten($base-color, $i * 10%);
            }
        }

        padding: 0px;
        margin: 0px;
        li{
            @include bg_color-border-margin-padding($bg_body, 5px, solid, pink, 2px, 4px);
            list-style: none;
        }
    }
}

section{    
    grid-area: section; 
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    @include bg_color-border-margin-padding($bg_body, 5px, dashed, blue, 0px, 15px);

    article{
        @include bg_color-border-margin-padding($bg_body, 2px, dashed, black, 10px, 5px);
        img{
            @include size-width-height(50px,30px);
        }
    }

}

footer{
    grid-area: footer; 
    text-align: center;
    @include bg_color-border-margin-padding($bg_footer, 5px, dotted, yellow, 15px, 5px);
}

