/* Variables */
//------------

$bg_body:white;
$bg_header:red;
$bg_footer:blue;

/* Mixin con argumento */
//------------
@mixin bg_color-border-margin-padding($bg_color, $border_size, $border_style, $border_color,  $margin, $padding) {
    background-color: $bg_color;
    border: $border_size $border_style $border_color ;
    margin: $margin;
    padding: $padding;
   }

   @mixin size-width-height($width, $height) {
       width: $width;
       height: $height;
   }



/* Estilos de elementos */
//----------------------

body{
    background-color: $bg_body;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav section section section section section '
        'footer footer footer footer footer footer ';
    grid-gap: 5px;

}

header{
    grid-area: header; 
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    
    @include bg_color-border-margin-padding($bg_header, 10px, solid, green, 5px, 10px);

    div img {
       @include size-width-height(100px,100px);
    }
}

nav{
    grid-area: nav; 
    @include bg_color-border-margin-padding($bg_body, 5px, dashed, orange, 0px, 5px);

    p{
        text-align: center;
        font-size: 30px;
    }

    ul 
    {
        padding: 0px;
        margin: 0px;
        li{
            @include bg_color-border-margin-padding($bg_body, 5px, solid, pink, 2px, 4px);
            list-style: none;
        }
    }
}

section{    
    grid-area: section; 
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    @include bg_color-border-margin-padding($bg_body, 5px, dashed, blue, 0px, 15px);

    article{
        @include bg_color-border-margin-padding($bg_body, 2px, dashed, black, 10px, 5px);
        img{
            @include size-width-height(50px,30px);
        }
    }

}

footer{
    grid-area: footer; 
    @include bg_color-border-margin-padding($bg_footer, 5px, dotted, yellow, 15px, 5px);
}

